<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARM Picker</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
    <div id="root"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.23.2/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>

    <script>
        var assets = {{ assets|tojson|safe }};
        var categories = {{ categories|tojson|safe }};
    </script>
  

    <script type="text/babel" src="../components/CategoryDropdown.jsx"></script>
    <script type="text/babel" src="../components/SearchBar.jsx"></script>
    <script type="text/babel" src="../components/CategoryStrip.jsx"></script>
    <script type="text/babel" src="../components/AssetBox.jsx"></script>
    <script type="text/babel" src="../components/AssetGridContainer.jsx"></script>
    <script type="text/babel" src="../components/UpperNavigation.jsx"></script>
    <script type="text/babel" src="../components/LeftPanel.jsx"></script>

    <script type="text/babel" src="../components/Navigation.jsx"></script>
    <script type="text/babel" src="../components/CategoryName.jsx"></script>
    <script type="text/babel" src="../components/InfoPanel.jsx"></script>
    <script type="text/babel" src="../components/Flags.jsx"></script>
    <script type="text/babel" src="../components/Reservations.jsx"></script>
    <script type="text/babel" src="../components/RightPanel.jsx"></script>

    <script type="text/babel" src="../components/App.jsx"></script>
</body>
</html>